.custom-navbar {
    background-color: #1b66b1; 
    color: white; 
}

.custom-navbar .navbar-nav .nav-item {
    font-size: 1.5rem;
  }


.custom-navbar h1{
    margin-left: 50px;
    margin-right: 50px;
}

.custom-navbar .navbar-nav {
    margin-right: 50px;
  }
  
